#left {
	width: 280px;
	float: left;
	position: relative;
	z-index: 99;
}
#l1 {
	width: 278px;
	background-color: #fcfcfc;
	border: 1px solid #cecece;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	height: 73px;
}
#l2 {
	width: 278px;
	height: 209px;
	background-color: #fcfcfc;
	border: 1px solid #cecece;
	border-bottom: 0;
}
#l2t {
	width: 278px;
	height: 175px;
	overflow: hidden;
	margin-left: 18px;
}
#l2tul {
	list-style-type: none;
	margin-left: -40px;
}
.l2li {
	width: 128px;
	display: inline-block;
	margin-bottom: 12px;
	font-size: 14px;
}
.l2li1 {
	font-size: 14px;
	width: 128px;
	display: inline-block;
	margin-bottom: 14px;
}
.split {
	padding: 0 5px;
	color: #999;
	position: relative;
	top: -1px;
}
.l2img {
	margin-right: 5px;
}
#l2b {
	width: 278px;
	height: 32px;
	border-top:1px solid #EBEBEB;
	font-size: 12px;
	padding-top: 10px;
	position: relative;
}
#l2bimg {
	display:inline-block;
	margin-left: 18px;
	margin-right: 4px;
}
.l2bc {
	display: inline-block;
	width: 39px;
	text-align: left;
	margin-bottom: 11px;
	color: #666666;
	vertical-align: middle;

}
#l2bf {	
	display:inline-block;
	position: absolute;
	top: 13px;
	right: 16px;
}
#l3 {
	border: 1px solid #cecece;
	border-top: 0;
}
.l31 {
	width: 278px;
	height: 330px;
	position: relative;
	z-index: 200;
}
.l31t {
	width: 278px;
	color: #616161;
	background: #f7f7f7;
	border: 0;
	position: relative;
	z-index: 20;
}
.l31ts {
	width: 51px;
	height: 34px;
	font-size: 14px;
	line-height:32px;
	margin-top: -1px;
	border-top-width: 1px;
	color: #616161;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	position: relative;
	margin-left: -5px;
}
.l31ts1 {
	border-top: 1px solid #0aa770;
	color: #118850;
	margin-left: 0;
}
.l31i {
	width: 278px;
	overflow: hidden;
	padding-bottom: 10px;
}
.l3p {
	width: 248px;
	height: 28px;
	overflow: hidden;
	padding: 0 15px;
	margin:0 auto;
	display: block;
	font-size: 14px;
}
.l3ps {			
	display: inline;
}
#l35 {
	width: 278px;
	height: 307px;
	position: relative;
	z-index: 200;
	border-bottom: 1px solid #CECECE;

}